.env
todos/__pycache__
todos/migrations/__pycache__
**/migrations/__pycache__
**/migrations/*.pyc
**/migrations/*/*.pyc
**/migrations/*/*/*.pyc
**/**/__pycache__

# Ignore all .pyc files
*.pyc

# ignore all sqlite files
*.sqlite3

# Ignore all log files
*.log

